<div class="emp3">
    <br><br><br><table class="table table-dark table-striped">
    <thead>
        <tr>
        <th scope="col">ID No.</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of Employees3;">
        <td>{{ employee.id}}</td>
        <td>{{ employee.lastname}}</td>
        <td>{{ employee.firstname}}</td>
        <td>{{ employee.email}}</td>
        </tr>
    </tbody>
    </table>
</div>